.footer {
  .container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: inline-block;
    }

    a {
      color: $tertiary;
      padding: 20px 30px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .container {
      padding: 20px 0;
    }
  }
}
