.header {
  background: $white;
  box-shadow: $shadow;

  a {
    color: $black;
  }

  &__logo {
    display: block;
    float: left;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    margin-left: -30px;
  }

  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    padding: 10px 15px;
    cursor: pointer;
  }

  &__pic {
    width: 35px;
    height: 35px;
  }

  &__name {
    position: relative;
    padding-left: 10px;
    padding-right: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 11px;
      height: 7px;
      margin-top: -3px;
      background: url("../img/arrow-down.svg");
      background-size: 11px 7px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    bottom: -41px;
    left: 0;
    width: 100%;
    z-index: 1;

    li > a {
      display: block;
      padding: 10px 20px;
      background: $white;
    }
  }

  &__profile:hover .header__menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      margin-left: 0;
    }
  }
}
