.location {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  box-sizing: border-box;

  &__description {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.4;
  }

  .btn {
    margin-right: 10px;
    padding: 10px 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}
