.login {
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;
  max-width: 280px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 20px 30px;
  font-size: 14px;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__forgot {
    float: left;
  }

  &__register {
    float: right;
  }
}
