.lp-content {
  background: $white;
  padding: 120px 0;

  &--intro {
    text-align: center;
    display: flex;
    align-items: center;

    p {
      font-family: "Podkova";
      font-size: 26px;
      font-weight: 300;
      line-height: 1.5;
      position: relative;
      margin: 0;
      padding-bottom: 65px;
      width: 750px;


      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        background: $primary;
      }
    }
  }

  &--benefit {
    text-align: center;
    display: flex;
    align-items: flex-start;

    h2 {
      font-size: 42px;
    }

    p {
      font-size: 20px;
      max-width: 460px;
    }
  }

  &--situations {
    position: relative;
    min-height: 660px;
    padding-bottom: 200px;
  }

  &__cards {
    position: absolute;
    width: 1100px;
    height: 440px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .cards-col {
      &:nth-child(1) {
        padding-top: 140px;
        animation-delay: 3s;
      }
      &:nth-child(2) {
        padding-top: 30px;
        animation-delay: .5s;
      }
      &:nth-child(3) {
        padding-top: 0px;
        animation-delay: 2s;
      }
      &:nth-child(4) {
        padding-top: 40px;
        animation-delay: 1s;
      }
      &:nth-child(5) {
        padding-top: 130px;
        animation-delay: .2s;
      }
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      width: 200px;
      height: 200px;
      border-radius: $radius;
      background: $grey;
      margin: 10px;
      margin-bottom: 20px;
    }

    .cards-col {
      animation: animationFrames linear 20s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      -webkit-animation: animationFrames linear 20s;
      -webkit-animation-iteration-count: infinite;
      -webkit-transform-origin: 50% 50%;
      -moz-animation: animationFrames linear 20s;
      -moz-animation-iteration-count: infinite;
      -moz-transform-origin: 50% 50%;
      -o-animation: animationFrames linear 20s;
      -o-animation-iteration-count: infinite;
      -o-transform-origin: 50% 50%;
      -ms-animation: animationFrames linear 20s;
      -ms-animation-iteration-count: infinite;
      -ms-transform-origin: 50% 50%;

      @keyframes animationFrames {
        0% {
          transform:  translate(0px,0px);
        }
        15% {
          transform:  translate(1px,-10px);
        }
        30% {
          transform:  translate(0px,0px);
        }
        45% {
          transform:  translate(0px,-15px);
        }
        60% {
          transform:  translate(0px,0px);
        }
        75% {
          transform:  translate(0px,-5px);
        }
        100% {
          transform:  translate(0px,0px);
        }
      }
    }
  }

  &--feedback {
    background: $body-bg;
    position: relative;
    min-height: 800px;

    .iphone {
      position: absolute;
      display: block;
      width: 275px;
      height: 575px;
      top: 300px;
      left: 50%;
      transform: translateX(-50%);
      background: url("images/iphone@2x.png");
      background-position: center;
      background-size: 275px 575px;
      z-index: 0;

      &::after {
        position: absolute;
        content: "";
        width: 254.72px;
        height: 465.44px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        background: url("images/chat.png");
        background-size: 254.72px 465.44px;
        z-index: 1;
        border: 1px solid $body-bg;
        border-radius: $radius;
      }
    }

    .tip {
      position: absolute;
      color: $black;
      font-size: 18px;
      font-weight: 600;

      &::after {
        position: absolute;
        content: "";
        background: url("images/arrow1.svg");
      }

      &-1 {
        top: 500px;
        left: 50%;
        transform: translateX(-350px);

        &::after {
          position: absolute;
          content: "";
          width: 36px;
          height: 37px;
          top: 45px;
          left: 80%;
          background: url("images/arrow1.svg");
        }
      }

      &-2 {
        top: 650px;
        left: 50%;
        transform: translateX(-370px);

        &::after {
          position: absolute;
          content: "";
          width: 59px;
          height: 27px;
          top: 35px;
          left: 100%;
          background: url("images/arrow2.svg");
        }
      }

      &-3 {
        top: 660px;
        left: 50%;
        transform: translateX(230px);

        &::after {
          position: absolute;
          content: "";
          width: 57px;
          height: 44px;
          top: 45px;
          left: -20%;
          background: url("images/arrow3.svg");
        }
      }
    }
  }

  &--features {

    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .feature {
      position: relative;
      padding-top: 150px;
      margin: 0 30px;
      width: 320px;
      color: $black;
      font-size: 20px;
      font-weight: 400;
      text-align: center;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &--comfort {
        &::after {
          width: 114px;
          height: 114px;
          background: url("images/feature-comfort.svg");
          background-size: 114px 114px;
        }
      }

      &--vr {
        &::after {
          width: 114px;
          height: 114px;
          background: url("images/feature-vr.svg");
          background-size: 114px 114px;
        }
      }

      &--savings {
        &::after {
          width: 114px;
          height: 114px;
          background: url("images/feature-savings.svg");
          background-size: 114px 114px;
        }
      }
    }
  }

  &--cta {
    background: $gradient;
    text-align: center;
    padding: 160px 0;

    h2 {
      font-size: 50px;
      margin-bottom: 40px;
      color: $white;
      text-align: center;
      line-height: 1.1;
    }

    .btn-cta {
      background: $white !important;
      color: $primary;

      &:hover {
        background: rgba($white, .85);
        color: $primary;
      }
    }
  }
}
