.quest {
  position: relative;
  flex-basis: auto;
  min-height: 200px;
  width: 370px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: $shadow;
  border-radius: $radius;
  color: $white;
  cursor: pointer;
  box-sizing: border-box;
  background: rgba($secondary, .3);
  background-image: url("images/pic/quest-ny.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $overlay;
    z-index: -1;
    border-radius: $radius;
  }

  &:hover {
    box-shadow: 0 2px 35px 0 rgba($secondary, .25);
    color: $white;

    &::after {
      background: $overlay-hover;
    }
  }

  &__time {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: 100;
    padding-left: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      background: url("images/time.svg");
      background-size: 15px 15px;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    font-family: "Podkova", "Nunito Sans", serif;
  }

  &__progress {
    position: absolute;
    display: block;
    width: 80%;
    height: 5px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba($white, .3);
    border-radius: 5px;
  }
  &__progress-bar {
    position: absolute;
    display: block;
    background: $white;
    top: 0;
    left: 0;
    width: 80%;
    height: 5px;
    border-radius: 5px 0 0 5px;
  }

  &--new {
    .quest__progress-bar {
      width: 0;
    }
  }

  &--completed {
    .quest__progress-bar {
      width: 100%;
      border-radius: 5px;
    }
  }
}



@media (max-width: 768px) {
  .quest {
    width: 100%;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .quest {
    width: 365px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .quest {
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

@media (min-width: 992px) {
  .quest {
    width: 310px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

@media (min-width: 1200px) {
  .quest {
    width: 376px;
  }
}
