.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.hidden {
  display: none !important;
}

body {
  background: $bg;
  font-family: "Nunito Sans", sans-serif;
  color: $blue;
  font-weight: 300;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary;

  &:hover {
    color: $primary-hover;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input, .btn {
  width: 100%;
  border-radius: $radius;
  outline: none;
  border: none;
  padding: $padding;
  margin-bottom: 15px;
}

input {
  background: rgba($strokes, .3);
  box-sizing: border-box;
}

.btn {
  box-sizing: border-box;
  border: 2px solid transparent;

  &:hover {
    color: $white;
  }
}
.btn-primary {
  background: $primary;
  color: $white;

  &:hover {
    background: $primary-hover
  }
}

.btn-secondary {
  background: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    border-color: $primary-hover;
    color: $primary-hover;
  }
}

.btn-cta {
  background: $gradient;
  border: none;

  &--header {
    display: inline-block;
    width: 250px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 35px !important;
    letter-spacing: .5px;
  }
}

.link-back {
  padding-left: 20px;
  position: absolute;
  left: 20px;
  top: 80px;
  font-weight: 500;
  color: $secondary;
  opacity: .5;

  &:hover {
    color: $secondary-hover;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -7px;
    left: 0;
    width: 10px;
    height: 14px;
    background: url("images/arrow-left.svg");
    background-size: 10px 14px;
  }

  &:hover::after {
    opacity: .85;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1070px;
  }
}
