$white: #fff;
$black: #38404A;
$text: #616D7D;

$primary: #328AFF;
$primary-hover: rgba($primary, .15);

$secondary: #000;
$secondary-hover: rgba($secondary, .15);

$info: #000;
$info-hover: rgba($info, .15);

$success: #A0D16A;
$success-hover: rgba($success, .15);

$warning: #FFB94B;
$warning-hover: rgba($warning, .15);

$danger: #FF5F4D;
$danger-hover: rgba($danger, .15);

$grey: #5A5A5A; //for buttons
$grey-hover: rgba($grey, .15); //for buttons hover

$grey-light: #eceef1; //for strokes
$grey-text-dark: #5F5F5F;
$grey-text-light: #B0B0B0;

$body-bg: #f8f9fb;
