@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700|Podkova:400,500,600,700");
h1, h2 {
  font-family: "Podkova", "Nunito Sans", serif;
  margin: 0;
  line-height: 1;
  color: #000; }

.h1, .h2, .h3 {
  font-family: "Podkova", "Nunito Sans", serif;
  margin: 0; }

.h1 {
  font-size: 30px;
  font-weight: bold;
  color: #31353A; }

.h2 {
  font-size: 20px;
  font-weight: normal;
  color: #31353A; }

.h3 {
  font-size: 20px;
  font-weight: normal;
  color: #B0B8C2; }

.text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #31353A;
  margin: 0; }
  .text-important {
    font-weight: bold;
    color: #000;
    font-size: 20px; }
  .text-secondary {
    color: #8996A8;
    font-weight: lighter;
    font-size: 14px; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

body {
  background: #F6F7F9;
  font-family: "Nunito Sans", sans-serif;
  color: #31353A;
  font-weight: 300; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #328AFF; }
  a:hover {
    color: rgba(50, 138, 255, 0.85); }

ul {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  list-style: none; }

input, .btn {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px; }

input {
  background: rgba(228, 234, 236, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent; }
  .btn:hover {
    color: #fff; }

.btn-primary {
  background: #328AFF;
  color: #fff; }
  .btn-primary:hover {
    background: rgba(50, 138, 255, 0.85); }

.btn-secondary {
  background: transparent;
  border-color: #328AFF;
  color: #328AFF; }
  .btn-secondary:hover {
    border-color: rgba(50, 138, 255, 0.85);
    color: rgba(50, 138, 255, 0.85); }

.btn-cta {
  background: -webkit-gradient(linear, left top, right top, from(#328AFF), to(#6AC0F9));
  background: -webkit-linear-gradient(left, #328AFF, #6AC0F9);
  background: -o-linear-gradient(left, #328AFF, #6AC0F9);
  background: linear-gradient(to right, #328AFF, #6AC0F9);
  border: none; }
  .btn-cta--header {
    display: inline-block;
    width: 250px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 35px !important;
    letter-spacing: .5px; }

.link-back {
  padding-left: 20px;
  position: absolute;
  left: 20px;
  top: 80px;
  font-weight: 500;
  color: #8996A8;
  opacity: .5; }
  .link-back:hover {
    color: rgba(137, 150, 168, 0.85); }
  .link-back::after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -7px;
    left: 0;
    width: 10px;
    height: 14px;
    background: url("images/arrow-left.svg");
    background-size: 10px 14px; }
  .link-back:hover::after {
    opacity: .85; }

@media (max-width: 768px) {
  .container {
    margin: 0 20px; } }

@media (min-width: 768px) {
  .container {
    max-width: 750px; } }

@media (min-width: 992px) {
  .container {
    max-width: 970px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.login {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3);
  box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3);
  max-width: 280px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 20px 30px;
  font-size: 14px; }
  .login__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px; }
  .login__forgot {
    float: left; }
  .login__register {
    float: right; }

.header__nav {
  font-weight: 400; }
  .header__nav li {
    display: block;
    float: left; }
  .header__nav a {
    display: block;
    font-size: 15px;
    font-weight: 300; }
  .header__nav .logo {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 900;
    margin-left: -20px; }

.header--lp {
  position: relative;
  overflow: hidden;
  height: 75vh;
  background-image: url("images/pic/index.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 0; }
  .header--lp::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(37, 37, 37, 0.6);
    z-index: -1; }
  .header--lp .header__nav {
    padding-top: 30px; }
  .header--lp a {
    color: #fff;
    padding: 10px 20px; }
    .header--lp a:hover {
      color: rgba(255, 255, 255, 0.85); }
  .header--lp .logo {
    padding: 8px 20px; }

.header--app {
  background: -webkit-gradient(linear, left top, right top, from(#31353A), to(#47515E));
  background: -webkit-linear-gradient(left, #31353A, #47515E);
  background: -o-linear-gradient(left, #31353A, #47515E);
  background: linear-gradient(to right, #31353A, #47515E); }
  .header--app a {
    color: #fff;
    padding: 20px; }
  .header--app .logo {
    padding: 13px 20px; }
  .header--app .profile {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    float: right;
    padding: 10px 15px;
    padding-right: 35px;
    cursor: pointer; }
    .header--app .profile::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 12px;
      width: 12px;
      height: 8px;
      margin-top: -4px;
      background: url("images/arrow-down.svg");
      background-size: 12px 8px; }
  .header--app .pic {
    width: 30px;
    height: 30px; }
  .header--app .name {
    position: relative;
    padding: 0 10px;
    font-size: 15px;
    color: #fff; }
  .header--app .menu {
    display: none;
    position: absolute;
    bottom: -38px;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3);
    box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3); }
    .header--app .menu li {
      width: 100%; }
      .header--app .menu li > a {
        display: block;
        padding: 10px 20px;
        background: #fff;
        color: #000;
        font-size: 14px;
        border-radius: 4px;
        font-weight: 400; }
    .header--app .menu::before {
      position: absolute;
      content: "";
      background: transparent;
      width: 100%;
      height: 18px;
      bottom: 35px; }
    .header--app .menu::after {
      position: absolute;
      content: "";
      bottom: 38px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 6px 5px;
      border-color: transparent transparent #fff transparent; }
  .header--app .profile:hover .menu {
    display: block; }

.header__cta {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.header__title {
  font-size: 48px;
  color: #fff; }

.header__subtitle {
  font-size: 28px;
  font-weight: 200;
  margin: 5px 0 45px;
  letter-spacing: 1.1px; }

.header__lang {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6); }
  .header__lang .icon-flag {
    display: block;
    width: 24px;
    height: 16px;
    background: url("images/flag-usa.svg");
    background-size: 24px 16px;
    margin-left: 20px; }

@media (max-width: 768px) {
  .header .profile .name {
    display: none; } }

.breadcrumbs {
  margin: 20px 0; }
  .breadcrumbs li {
    display: inline-block; }
  .breadcrumbs__link {
    padding: 10px 15px;
    font-weight: bold;
    position: relative;
    color: #71859F; }
    .breadcrumbs__link:first-child {
      padding-left: 0; }
    .breadcrumbs__link::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 10px;
      height: 7px;
      margin-top: -3px;
      background: url("images/breadcrumbs.svg");
      background-size: 10px 7px; }
    .breadcrumbs__link--current {
      cursor: default;
      color: #D5D5D5;
      font-weight: normal; }
      .breadcrumbs__link--current:hover {
        color: #D5D5D5; }
      .breadcrumbs__link--current::after {
        display: none; }

.footer .container {
  padding: 60px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer .container li {
    display: inline-block; }
  .footer .container a {
    color: #B0B8C2;
    padding: 20px 30px; }

.quests {
  padding: 20px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .quests__title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    margin-bottom: 20px; }
  .quests--completed {
    padding-top: 30px;
    border-top: 1px solid #e4eaec; }

@media (max-width: 768px) {
  .quests__title {
    text-align: center; } }

@media (min-width: 768px) {
  .quests {
    padding: 30px 0 0; } }

.quest {
  position: relative;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  min-height: 200px;
  width: 370px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3);
  box-shadow: 0 0 10px 0 rgba(137, 150, 168, 0.3);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(137, 150, 168, 0.3);
  background-image: url("images/pic/quest-ny.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0; }
  .quest::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(49, 53, 58, 0.4);
    z-index: -1;
    border-radius: 4px; }
  .quest:hover {
    -webkit-box-shadow: 0 2px 35px 0 rgba(137, 150, 168, 0.25);
    box-shadow: 0 2px 35px 0 rgba(137, 150, 168, 0.25);
    color: #fff; }
    .quest:hover::after {
      background: rgba(49, 53, 58, 0.3); }
  .quest__time {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: 100;
    padding-left: 20px; }
    .quest__time::after {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      background: url("images/time.svg");
      background-size: 15px 15px; }
  .quest__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    font-family: "Podkova", "Nunito Sans", serif; }
  .quest__progress {
    position: absolute;
    display: block;
    width: 80%;
    height: 5px;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px; }
  .quest__progress-bar {
    position: absolute;
    display: block;
    background: #fff;
    top: 0;
    left: 0;
    width: 80%;
    height: 5px;
    border-radius: 5px 0 0 5px; }
  .quest--new .quest__progress-bar {
    width: 0; }
  .quest--completed .quest__progress-bar {
    width: 100%;
    border-radius: 5px; }

@media (max-width: 768px) {
  .quest {
    width: 100%;
    margin-right: 0; } }

@media (min-width: 768px) {
  .quest {
    width: 365px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .quest:nth-child(2n) {
    margin-right: 0; }
  .quest:last-child {
    margin-right: auto; } }

@media (min-width: 992px) {
  .quest {
    width: 310px; }
    .quest:nth-child(3n) {
      margin-right: 0; }
    .quest:last-child {
      margin-right: auto; } }

@media (min-width: 1200px) {
  .quest {
    width: 376px; } }

.map {
  margin-top: 20px;
  width: 100%; }
  .map__location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 50px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; }
    .map__location::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(49, 53, 58, 0.4);
      z-index: -1;
      border-radius: 4px; }
    .map__location:hover {
      color: #fff; }
      .map__location:hover::after {
        background: rgba(49, 53, 58, 0.3); }
    .map__location--sightseeing {
      background-image: url("images/pic/card-sightseeing.jpg"); }
    .map__location--cafe {
      background-image: url("images/pic/card-cafe.jpg"); }
    .map__location--apartment {
      background-image: url("images/pic/card-apartment.jpg"); }
    .map__location--airport {
      background-image: url("images/pic/card-airport.jpg"); }
  .map__title {
    color: #fff;
    font-size: 16px;
    font-weight: 500; }

@media (max-width: 768px) {
  .map__location {
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px; }
  .map__title {
    font-size: 18px; } }

@media (min-width: 768px) {
  .map {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e4eaec;
    border-radius: 4px;
    min-height: 600px;
    background: #fff;
    background-image: url("images/pic/map-ny.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .map__location {
      position: absolute;
      width: 100px;
      height: 100px; }
      .map__location--sightseeing {
        top: 30%;
        left: 38%; }
      .map__location--cafe {
        top: 32%;
        left: 55%; }
      .map__location--apartment {
        top: 56%;
        left: 40%; }
      .map__location--airport {
        top: 53%;
        left: 61%; } }

@media (min-width: 1200px) {
  .map__location--sightseeing {
    top: 20%;
    left: 40%; }
  .map__location--cafe {
    top: 42%;
    left: 49%; }
  .map__location--apartment {
    top: 68%;
    left: 42%; }
  .map__location--airport {
    top: 59%;
    left: 65%; } }

.location {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .location__description {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.4; }
  .location .btn {
    margin-right: 10px;
    padding: 10px 35px; }
    .location .btn:last-child {
      margin-right: 0; }

.conversation {
  border: 1px solid #e4eaec;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 200px; }
  .conversation__bot {
    width: 70%;
    float: left; }
  .conversation__vid {
    min-height: 200px; }
  .conversation__player {
    max-height: 60px;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #e4eaec; }
    .conversation__player .player__play,
    .conversation__player .player__showtext {
      position: relative;
      display: block;
      border: none;
      margin-right: 20px;
      padding-bottom: 20px;
      min-width: 30px;
      height: 47px;
      background: url("images/player-play.svg");
      background-size: 30px 30px;
      background-repeat: no-repeat; }
      .conversation__player .player__play::after,
      .conversation__player .player__showtext::after {
        position: absolute;
        content: "replay";
        left: 2.5px;
        bottom: 0;
        font-size: 10px;
        color: #B0B8C2; }
      .conversation__player .player__play:hover,
      .conversation__player .player__showtext:hover {
        opacity: .85; }
    .conversation__player .player__showtext {
      margin-right: 30px;
      background: url("images/player-text.svg");
      background-size: 30px 30px;
      background-repeat: no-repeat; }
      .conversation__player .player__showtext::after {
        content: "show text";
        width: 150%;
        left: -7px; }
    .conversation__player .player__sound {
      display: none;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    .conversation__player .player__text {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      color: #000;
      font-weight: 400; }
  .conversation__hints {
    width: 30%;
    float: left; }
    .conversation__hints .h3 {
      margin-bottom: 10px; }
  .conversation__task {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #e4eaec; }
  .conversation__words {
    padding: 20px; }
    .conversation__words span {
      display: inline-block;
      margin-bottom: 10px;
      color: #B0B8C2; }
    .conversation__words li {
      display: block;
      float: left; }
      .conversation__words li a {
        display: block;
        padding: 2px 15px;
        background: #8996A8;
        color: #fff;
        border-radius: 50px;
        vertical-align: middle;
        font-weight: 300;
        margin-right: 5px;
        margin-bottom: 5px; }
        .conversation__words li a:hover {
          background: rgba(137, 150, 168, 0.85); }
      .conversation__words li .btn {
        margin-top: 40px; }

.reply {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: #fff;
  border-top: 1px solid #e4eaec;
  z-index: 0; }
  .reply::before, .reply::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff; }
  .reply::after {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    border-radius: 50%;
    border: 1px solid #e4eaec;
    z-index: -1; }
  .reply::before {
    width: 100px;
    height: 40px;
    z-index: 1; }
  .reply .btn-mic {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin: 0;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    z-index: 2; }
    .reply .btn-mic::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 18px;
      height: 25px;
      background: url("images/mic.svg");
      background-size: 18px 25px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .reply__record {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    z-index: 10; }
    .reply__record span {
      color: #B0B8C2;
      font-weight: lighter; }

@media (max-width: 768px) {
  .conversation__bot, .conversation__hints {
    width: 100%; }
  .conversation__player {
    border-bottom: 1px solid #e4eaec;
    border-right: none; } }

.vocabulary {
  display: block;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e4eaec; }
  .vocabulary h1 {
    padding: 20px; }
  .vocabulary__card {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e4eaec; }
    .vocabulary__card .btn-sound {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 15px;
      margin-top: -15px;
      background: url("images/btn-sound.svg");
      background-size: 15px 15px;
      background-position: center;
      background-repeat: no-repeat;
      border: none; }
      .vocabulary__card .btn-sound:hover {
        opacity: .8; }
    .vocabulary__card span {
      display: block;
      float: left;
      width: 100%;
      padding-left: 60px; }

.lp-content {
  background: #fff;
  padding: 120px 0; }
  .lp-content--intro {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px; }
    .lp-content--intro p {
      font-family: "Podkova";
      font-size: 26px;
      font-weight: 300;
      line-height: 1.5;
      position: relative;
      margin: 0;
      padding-bottom: 65px;
      width: 750px; }
      .lp-content--intro p::after {
        position: absolute;
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        background: #328AFF; }
  .lp-content--benefit {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .lp-content--benefit h2 {
      font-size: 42px; }
    .lp-content--benefit p {
      font-size: 20px;
      max-width: 460px; }
  .lp-content--situations {
    position: relative;
    min-height: 660px;
    padding-bottom: 200px; }
  .lp-content__cards {
    position: absolute;
    width: 1100px;
    height: 440px;
    top: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .lp-content__cards .cards-col:nth-child(1) {
      padding-top: 140px;
      -webkit-animation-delay: 3s;
      animation-delay: 3s; }
    .lp-content__cards .cards-col:nth-child(2) {
      padding-top: 30px;
      -webkit-animation-delay: .5s;
      animation-delay: .5s; }
    .lp-content__cards .cards-col:nth-child(3) {
      padding-top: 0px;
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .lp-content__cards .cards-col:nth-child(4) {
      padding-top: 40px;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .lp-content__cards .cards-col:nth-child(5) {
      padding-top: 130px;
      -webkit-animation-delay: .2s;
      animation-delay: .2s; }
    .lp-content__cards .card {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      width: 200px;
      height: 200px;
      border-radius: 4px;
      margin: 10px;
      margin-bottom: 20px;
      background: #8996A8;
      background-position: center;
      background-size: cover;
      z-index: 0; }
      .lp-content__cards .card::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(37, 37, 37, 0.35);
        border-radius: 4px;
        z-index: -1; }
      .lp-content__cards .card--cafe {
        background-image: url("images/pic/card-cafe.jpg"); }
      .lp-content__cards .card--bank {
        background-image: url("images/pic/card-bank.jpg"); }
      .lp-content__cards .card--museum {
        background-image: url("images/pic/card-museum.jpg"); }
      .lp-content__cards .card--sightseeing {
        background-image: url("images/pic/card-sightseeing.jpg"); }
      .lp-content__cards .card--airport {
        background-image: url("images/pic/card-airport.jpg"); }
      .lp-content__cards .card--apartment {
        background-image: url("images/pic/card-apartment.jpg"); }
      .lp-content__cards .card--concert {
        background-image: url("images/pic/card-concert.jpg"); }
      .lp-content__cards .card--subway {
        background-image: url("images/pic/card-subway.jpg"); }
    .lp-content__cards .cards-col {
      animation: animationFrames linear 20s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      -webkit-animation: animationFrames linear 20s;
      -webkit-animation-iteration-count: infinite;
      -webkit-transform-origin: 50% 50%;
      -moz-animation: animationFrames linear 20s;
      -moz-animation-iteration-count: infinite;
      -moz-transform-origin: 50% 50%;
      -o-animation: animationFrames linear 20s;
      -o-animation-iteration-count: infinite;
      -o-transform-origin: 50% 50%;
      -ms-animation: animationFrames linear 20s;
      -ms-animation-iteration-count: infinite;
      -ms-transform-origin: 50% 50%; }

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  15% {
    -webkit-transform: translate(1px, -10px);
    transform: translate(1px, -10px); }
  30% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  45% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px); }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  15% {
    -webkit-transform: translate(1px, -10px);
    transform: translate(1px, -10px); }
  30% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  45% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px); }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
  .lp-content--feedback {
    background: #F6F7F9;
    position: relative;
    min-height: 800px; }
    .lp-content--feedback .iphone {
      position: absolute;
      display: block;
      width: 275px;
      height: 575px;
      top: 300px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: url("images/iphone@2x.png");
      background-position: center;
      background-size: 275px 575px;
      z-index: 0; }
      .lp-content--feedback .iphone::after {
        position: absolute;
        content: "";
        width: 254.72px;
        height: 465.44px;
        top: 50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: url("images/chat.png");
        background-size: 254.72px 465.44px;
        z-index: 1;
        border: 1px solid #F6F7F9;
        border-radius: 4px; }
    .lp-content--feedback .tip {
      position: absolute;
      color: #000;
      font-size: 18px;
      font-weight: 600; }
      .lp-content--feedback .tip::after {
        position: absolute;
        content: "";
        background: url("images/arrow1.svg"); }
      .lp-content--feedback .tip-1 {
        top: 500px;
        left: 50%;
        -webkit-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
        transform: translateX(-350px); }
        .lp-content--feedback .tip-1::after {
          position: absolute;
          content: "";
          width: 36px;
          height: 37px;
          top: 45px;
          left: 80%;
          background: url("images/arrow1.svg"); }
      .lp-content--feedback .tip-2 {
        top: 650px;
        left: 50%;
        -webkit-transform: translateX(-370px);
        -ms-transform: translateX(-370px);
        transform: translateX(-370px); }
        .lp-content--feedback .tip-2::after {
          position: absolute;
          content: "";
          width: 59px;
          height: 27px;
          top: 35px;
          left: 100%;
          background: url("images/arrow2.svg"); }
      .lp-content--feedback .tip-3 {
        top: 660px;
        left: 50%;
        -webkit-transform: translateX(230px);
        -ms-transform: translateX(230px);
        transform: translateX(230px); }
        .lp-content--feedback .tip-3::after {
          position: absolute;
          content: "";
          width: 57px;
          height: 44px;
          top: 45px;
          left: -20%;
          background: url("images/arrow3.svg"); }
  .lp-content--features .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .lp-content--features .feature {
    position: relative;
    padding-top: 150px;
    margin: 0 30px;
    width: 320px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center; }
    .lp-content--features .feature::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .lp-content--features .feature--comfort::after {
      width: 114px;
      height: 114px;
      background: url("images/feature-comfort.svg");
      background-size: 114px 114px; }
    .lp-content--features .feature--vr::after {
      width: 114px;
      height: 114px;
      background: url("images/feature-vr.svg");
      background-size: 114px 114px; }
    .lp-content--features .feature--savings::after {
      width: 114px;
      height: 114px;
      background: url("images/feature-savings.svg");
      background-size: 114px 114px; }
  .lp-content--cta {
    background: -webkit-gradient(linear, left top, right top, from(#328AFF), to(#6AC0F9));
    background: -webkit-linear-gradient(left, #328AFF, #6AC0F9);
    background: -o-linear-gradient(left, #328AFF, #6AC0F9);
    background: linear-gradient(to right, #328AFF, #6AC0F9);
    text-align: center;
    padding: 160px 0; }
    .lp-content--cta h2 {
      font-size: 50px;
      margin-bottom: 40px;
      color: #fff;
      text-align: center;
      line-height: 1.1; }
    .lp-content--cta .btn-cta {
      background: #fff !important;
      color: #328AFF; }
      .lp-content--cta .btn-cta:hover {
        background: rgba(255, 255, 255, 0.85);
        color: #328AFF; }
